
.country-sel {
  border:solid 2px #573320;
  border-radius:5px;
  margin-top:24px;
  margin-right:12px;
  padding:12px

}
.content-margin {
  margin:12px;
}

.shiny-plot-output {
  margin-bottom:24px;
}
